# Virtual enviroment
.venv/

# Python cache files
__pycache__/
*.pyc

# Model weights (download via AutoModel.from_pretrained("distilbert-base-uncased"))
distilbert-base-uncased/
checkpoints/

# Dataset (download via load_dataset("emotion"))
emotion/

# Claude Code documents
CLAUDE.md
CODING_STYLE.md

# Project Demo
demo/